body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(236,131,209,1) 20%, rgba(164,131,236,1) 60%, rgba(83,149,249,1) 100%);
    padding: 100 px;
}


.grid{display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.Test1 {
    grid-column: 1 / 3;
    grid-row: 1;
    background: #00dd;
  }
  .Test2 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .Test3 {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .Test4 {
    grid-column: 3;
    grid-row: 3;
  }











.rotate{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    transform: rotate(20deg);

}

    
    @keyframes rotating {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        
    }


    .rotating {
    border: 1px solid #fff;
    width: 100px; 
    height: 100px;
    animation: rotating 5s linear infinite;
    }


.normal{
    border: 1px solid #00dd;
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCircleInverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.circleSlow{
	fill: none;
    stroke-width: 1.1;
    animation: rotateCircle 20s linear infinite; /* Animation pour faire tourner les cercles */
    stroke-dasharray: 90; /* Longueur du trait */
    transform-origin: center;/*  Origine de la transformation */

}
.circleMedium{
	fill: none;
    stroke-width: 1.1;
    animation: rotateCircle 13s linear infinite; /* Animation pour faire tourner les cercles */
    stroke-dasharray: 50; /* Longueur du trait */
    transform-origin: center;
}

.circleFast{
	fill: none;
    stroke-width: 1.1;
    animation: rotateCircle 4s linear infinite; /* Animation pour faire tourner les cercles */
    stroke-dasharray: 70; /* Longueur du trait */
    transform-origin: center; 

}

.circleEarth{
    fill: none;
    stroke-width: 1.1;
    animation: rotateCircle 30s linear infinite; /* Animation pour faire tourner les cercles */
    stroke-dasharray: 30; /* Longueur du trait */
    transform-origin: center; 

}


.circleEarthInverse{
    fill: none;
    stroke-width: 1.1;
    animation: rotateCircleInverse 30s linear infinite; /* Animation pour faire tourner les cercles */
    stroke-dasharray: 30; /* Longueur du trait */
    transform-origin: center; 

}

