body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(236,131,209,1) 20%, rgba(164,131,236,1) 60%, rgba(83,149,249,1) 100%);
    padding: 100 px;
}


.grid{display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);}

.rotate{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    transform: rotate(20deg);

}

    
    @keyframes rotating {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        
    }


    .rotating {
    border: 1px solid #fff;
    width: 100px; 
    height: 100px;
    animation: rotating 5s linear infinite;
    }






.normal{
    border: 1px solid #00dd;
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle circle{
	fill: none;
    stroke-width: 1.1;
    animation: rotateCircle 3s linear infinite; /* Animation pour faire tourner les cercles */
    stroke-dasharray: 80; /* Longueur du trait */
    /* transform-origin: center; Origine de la transformation */

}


